HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/gui/venv/
**/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
analytics/__pycache__/analytics.cpython-310.pyc
gui/__pycache__/DashboardPage.cpython-310.pyc
gui/__pycache__/GlobalVariables.cpython-310.pyc
gui/__pycache__/loginGUI.cpython-310.pyc
gui/__pycache__/ProductPage.cpython-310.pyc
gui/__pycache__/SideBarWidget.cpython-310.pyc
gui/__pycache__/ToolBarWidget.cpython-310.pyc
